.outline-character {
  color: #fff;
}

.cols, .columns {
    margin-left: 0;
    margin-right: 0;
}

a, a:visited {
    color: #000;
}

.circle-name > a, .circle-name > a:visited {
    color: #fff;
}

.circle-name {
    display: box;
    display: -webkit-box;
    overflow: hidden;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.circle-description {
    display: box;
    display: -webkit-box;
    overflow: hidden;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

.circle-icon {
    float: left;
}

.circle-card {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.circle-header {
    background-color: #ccc;
}
.circle-location {
    padding: 0;
    padding-top: 0.5rem;
    background-color: rgba(0,0,0,0.6);
    color: white;
    width: 100%;
}